body{
	background-color: #555555;
	font-family: 'Arial', san-serif;
}
.main-container{
	width: 1200px;
	margin: 0 auto;
}
header{
	color: #FFFFFF;
	padding-top: 30px;
}
header h1, header h2{
	margin: 0;
	font-weight: normal;
}
header h2{
	color: #CCCCCC;
}
nav{
	background: rgb(255,125,0);
	background: linear-gradient(180deg, rgba(255,125,0,1)49%, rgba(255,192,23,1)100%)
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li{
	display: flex;
	align-items: center;
}
nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	padding: 15px;
}
.content-wrapper{
	background-color: #FFFFFF;
	height: inherit;
	box-shadow: 5px 5px 5px 5px red;
}